---
name: Linting - Dockerfile
# Split until path filtering for jobs added
# https://github.community/t/path-filtering-for-jobs-and-steps/16447
on:
  push:
    branches: [master]
    paths:
      - "Dockerfile"
      - "Dockerfile.*"
  pull_request:
    branches: [master]
    paths:
      - "Dockerfile"
      - "Dockerfile.*"

jobs:
  hadolint:
    name: hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run hadolint
        uses: reviewdog/action-hadolint@v1
