---
name: Release
on:
  # https://github.com/actions/runner/issues/1007
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2.1.4
        id: go
        with:
          go-version: ^1.17

      - name: Check out code
        uses: actions/checkout@v2.4.0

      - name: Launch goreleaser
        uses: goreleaser/goreleaser-action@v2.8.0
        with:
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
