---
name: Testing - Unit
# Split until path filtering for jobs added
# https://github.community/t/path-filtering-for-jobs-and-steps/16447
on:
  push:
    branches: [master]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches: [master]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"

jobs:
  unit:
    name: Go Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Set up Go
        uses: actions/setup-go@v2.1.3
        id: go
        with:
          go-version: ^1.16

      - name: Run go unit tests
        run: |
          make test-unit
